#jumbo {
    background-color: rgb(217, 237, 244);
    font-family: cursive;
    color: grey;
    font-stretch: expanded;
}

.card-header {
    text-align: center;
}

.card-title {
    font-style: italic;
}

.card {
    background-image: linear-gradient(white, #b0dee4,  #7cabf2, #1f0580);
}

